{% extends 'base.html' %}
{% block content %}
        <form action="{{ url_for('add') }}" method="POST">
            <label for="todoTitle" class="form-label"> ToDoTitle</label>
            <input type="text" class="form-control" name="todo-title" id="todoTitle">
            <div class="form-text">Provide short title for ToDo</div>

            <select class="form-select mt-4" name="todo-type">
                <option selected>Open this select menu</option>
                {% for t in types %}
                   <option value="{{ t.id }}" class="bg-{{ t.name }}">{{ t.name }}</option>
                {% endfor %}
            </select>
            <div class="form-text">Status for ToDo</div>

            <label for="todoBody" class="form-label mt-4"> ToDoTitle</label>
            <textarea class="form-control" id="todoBody" rows="5" name='todo-text'></textarea>
            <div class="form-text">Full text of ToDo</div>
            <div class="text-end">
                <input type="submit" value="Save" class="btn btn-primary mt-4">
            </div>
        </form>
{% endblock %}