<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="../static/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <title>TuDuszka</title>
</head>

<body>

    <nav class="navbar navbar-light bg-secondary">
        <div class="container">
            <div>
                <a href="index.html" class="navbar-brand">TuDu</a>
            </div>
            <a href="./add.html" class="btn btn-primary">Add</a>
        </div>
    </nav>
    <div class="container py-4">
        <form action="add">
            <label for="todoTitle" class="form-label"> ToDoTitle</label>
            <input type="text" class="form-control" id="todoTitle">
            <div class="form-text">Provide short title for ToDo</div>

            <select class="form-select mt-4">
                <option selected>Open this select menu</option>
                <option value="1" class="bg-danger">Urgent</option>
                <option value="2" class="bg-info">Daily</option>
                <option value="3" class="bg-success">Not need</option>
            </select>
            <div class="form-text">Status for ToDo</div>

            <label for="todoBody" class="form-label mt-4"> ToDoTitle</label>
            <textarea class="form-control" id="todoBody" rows="5"></textarea>
            <div class="form-text">Full text of ToDo</div>
            <div class="text-end">
                <input type="submit" value="Save" class="btn btn-primary mt-4">
            </div>
        </form>
    </div>
</body>

</html>