{% extends 'base.html' %}

{% block content %}
<div class="row card-group justify-content-start gy-4">
    {% for todo in todos %}
    <div class="col-10 col-md-4">
        <div class="card border-primary mb-3 h-100">
            <div class="card-header bg-{{ todo.name.lower()}}">{{todo.create_date}}</div>
            <div class="card-body text-center">
                <h3 class="card-title"><a href="{{ url_for('view', id = todo.id) }}">{{ todo.title }}</a></h3>
                <p class="card-text">{{ todo.todo_text }}</p>
            </div>{% if todo.end_date %}
            <div class="card-footer">

                Closed {{todo.end_date }}

            </div>{% endif %}
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}