<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="../static/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <title>TuDuszka</title>
</head>

<body class="d-flex flex-column h-100">

    <nav class="navbar navbar-light bg-secondary">
        <div class="container">
            <div>
                <a href="index.html" class="navbar-brand">TuDu</a>
            </div>
            <a href="./add.html" class="btn btn-primary">Add</a>
        </div>
    </nav>
    <div class="container py-4">
        <div class="row card-group justify-content-center">
            <div class="col-10 col-md-4 opacity-75">
                <div class="card border-primary mb-3 h-100">
                    <div class="card-header bg-danger">Header 19.07.2021</div>
                    <div class="card-body text-center">
                        <h3 class="card-title"><a href="./view.html">Create cool thing</a></h3>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                    <div class="card-footer">Footer Closed</div>
                </div>
            </div>

            <div class="col-10 col-md-4">
                <div class="card border-primary mb-3 h-100">
                    <div class="card-header bg-success">Header 19.07.2021</div>
                    <div class="card-body text-center">
                        <h3 class="card-title"><a href="./view.html">Create cool thing</a></h3>
                        <p class="card-text">Lorem ipsum, dolor sit amet consectetur adipisicing elit. At, nulla? Perspiciatis dolorum amet non odio ab quas officiis itaque reiciendis unde, cumque omnis magni assumenda, debitis adipisci repudiandae totam architecto.</p>
                    </div>
                    <div class="card-footer">Footer</div>
                </div>
            </div>

            <div class="col-10 col-md-4">
                <div class="card border-primary mb-3 h-100">
                    <div class="card-header bg-info">Header 19.07.2021</div>
                    <div class="card-body text-center">
                        <h3 class="card-title"><a href="./view.html">Create cool thing</a></h3>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    </div>
                    <div class="card-footer">Footer Closed</div>
                </div>
            </div>

            
        </div>
    </div>
    <footer class="footer mt-auto py-4">
        <div class="container text-center">
            <span class="text-muted">
                Simple project ToDo
            </span>
        </div>
    </footer>
</body>

</html>