<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../static/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="../static/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <title>TuDuszka</title>
</head>

<body>

    <nav class="navbar navbar-light bg-secondary">
        <div class="container">
            <div>
                <a href="index.html" class="navbar-brand">TuDu</a>
            </div>
            <a href="./add.html" class="btn btn-primary">Add</a>
        </div>
    </nav>
    <div class="container py-4">
        <h2>Create cool Thing</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Cupiditate ad earum similique repellendus repudiandae. Sint quasi vitae, sit est possimus cupiditate quos harum iure, nesciunt asperiores commodi. Repellendus qui minima doloribus repudiandae tempore culpa temporibus harum cum. Repellendus quaerat hic incidunt enim laboriosam delectus corporis maxime pariatur, harum optio saepe ullam nihil temporibus voluptate expedita ratione cumque nesciunt asperiores facere sed ipsam ex. Molestiae obcaecati nihil aspernatur? Ipsam, voluptate fuga officia est suscipit nam autem? Quibusdam sunt beatae exercitationem et sequi, consequuntur, ab autem atque corrupti cumque molestias. Ipsam velit fugiat sequi architecto recusandae maxime laborum unde quae quo numquam.</p>
        <form action="done" class="text-end">
            <input type="hidden" name="thisId" value="1">
            <input type="button" value="Edit" class="btn btn-success">
            <input type="button" value="Delete" class="btn btn-danger">
            <input type="button" value="Done" class="btn btn-primary">
        </form>
    </div>
</body>

</html>