{% extends 'base.html' %}
{% block content %}
        <h2>{{ todo.title }}</h2>
        <p>{{ todo.todo_text }}</p>
        <form action="{{ url_for('delete') }}" class="text-end" method="POST">
            <input type="hidden" name="thisId" value="{{ todo.id }}">
            <input type="submit" value="Delete" class="btn btn-danger">
        </form>
        {% if not todo.end_date %}
        <form action="{{ url_for('done') }}" class="text-end" method="POST">
            <input type="hidden" name="thisId" value="{{ todo.id }}">
            <input type="submit" value="Done" class="btn btn-primary">
        </form>
        {% endif %}
{% endblock %}